<h1>Invoice for Booking</h1>
<h1>User Name : <%= userName %></h1>
<h1>Tour Title : <%= tourTitle %> ></h1>
<h1>Total Guest : <%= guestCount %> ></h1>
<h1>Total Amount : <%= totalAmount %> ></h1>
<h1>Booking Date: <%= bookingDate %> </h1>
<p>Transaction ID: <%= transactionId %></p>
<p>Amount Paid:</p>
<p>Thank you for your booking!</p>
<p><a>Download Invoice PDF</a></p>
